<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Lenguaje</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Crear Nuevo Lenguaje</h1>

    <form action="create_language" method="POST">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <button type="submit">Crear Lenguaje</button>
    </form>

    <br>
    <a href="/lenguajes">Volver a la lista</a>
</body>

</html>
